<div class="alert alert-error" *ngIf="locationsFetchError | async">
  {{ locationsFetchError | async }}
</div>

<app-loader *ngIf="(locationsFetchLoading | async) else charactersArea"></app-loader>

<ng-template #charactersArea>
  <div class="location-head">
    <h2>Locations</h2>
    <app-search
      (newItemEvent)="searchCharacters($event)"
      (selectedItem)="searchCharacters($event)"
      [locations]="locations"
    ></app-search>
  </div>
  <hr>
  <div class="locations_content">
    <div class="hero-unit" *ngFor="let location of locations |
    paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItems }
    ">
      <div class="info">
        <h2>
          <a [routerLink]="['/', 'location', location.id]">
            {{ location.name }}
          </a>
        </h2>
        <hr>
        <span><strong>Dimension</strong> {{ location.dimension }}</span>
      </div>
    </div>
  </div>
  <div class="pagePag" *ngIf="locations.length >= 20">
    <pagination-controls
      (pageChange)="page = $event"
      (click)="onPagination()"
      [responsive]="true"
    ></pagination-controls>
  </div>
</ng-template>

