.location-head {
  display: flex;
  justify-content: space-between;
}

.locations_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
  .hero-unit {
    margin: 0.3rem;
    padding: 1rem;
    text-align: left;
    transition: 0.3s;
    width: 70%;
    .info {
      display: flex;
      flex-direction: column;
      hr {
        margin: 10px;
      }
    }
  }
}

.hero-unit:hover {
  box-shadow: 0 0 3px 1px #8c8b8b;
}

.hero-unit:active {
  opacity: 0.5;
}

.alert-error {
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .locations_content {
    .hero-unit {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .location-head {
    display: flex;
    flex-direction: column;
  }
}

