@media screen and (max-width: 960px) {
  .info {
    h1 {
      font-size: 27px;
    }
  }
}

@media screen and (max-width: 660px) {
  .hero-unit {
    padding: 16px;
    p {
      font-size: 16px;
    }
  }
}

.previous {
  cursor: pointer;
}
