<div class="alert alert-error" *ngIf="charactersFetchError | async">
  {{ charactersFetchError | async }}
</div>

<app-loader *ngIf="(charactersFetchLoading | async) else charactersArea"></app-loader>

<ng-template #charactersArea>
  <div class="char-head">
    <h2>Characters</h2>
    <app-search
      (newItemEvent)="searchCharacters($event)"
      (selectedItem)="searchCharacters($event)"
      [characters]="characters"
    ></app-search>
  </div>
  <hr>
  <div class="sort">
    <div>
      <h3>Sort</h3>
      <app-sort (sortCriterion)="onSort($event)"></app-sort>
    </div>
    <div>
      <div>
        <h3>Filter</h3>
        <app-filter
          (genderFilter)="onFilter($event)"
          (statusFilter)="onFilter($event)"
        ></app-filter>
      </div>
    </div>
  </div>
  <div class="characters_content">
    <div class="hero-unit"
         *ngFor="let char of characters"
         [routerLink]="['characters', char.id]"
    >
      <img width="100%" src="assets/images/no-image.png" *ngIf="!char.image else image" alt="NO IMAGE">
      <ng-template #image>
        <img width="100%" [src]="char.image" [alt]="char?.name">
      </ng-template>
      <div class="info">
        <h3>{{ char.name }}</h3>
      </div>
    </div>
  </div>
  <div class="pagination">
    <app-pagination
      (newPageEvent)="onPagination($event)"
      [pages]="pageCount"
      [nextPage]="nextPage"
      [prevPage]="prevPage"
    ></app-pagination>
  </div>
</ng-template>

