<div class="alert alert-error" *ngIf="charactersFetchError | async">
  {{ charactersFetchError | async }}
</div>

<app-loader *ngIf="(charactersFetchLoading | async) else charactersArea"></app-loader>

<ng-template #charactersArea>
  <div class="char-head">
    <h2>Characters</h2>
    <app-search (newItemEvent)="searchCharacters($event)"></app-search>
  </div>
  <hr>
  <div class="characters_content">
    <div class="hero-unit"
         *ngFor="let char of characters"
         [routerLink]="['character', char.id]"
    >
      <img width="100%"
           [src]="char.image"
           [alt]="char.name"
      >
      <div class="info">
        <h3>{{ char.name }}</h3>
      </div>
    </div>
  </div>
</ng-template>
